.g-root_theme_dark {
    --g-color-base-brand: #63D590;
    --g-color-base-brand-hover: #4ec77a;
    --g-color-base-selection: rgba(99, 213, 144, 0.15);
    --g-color-base-selection-hover: rgba(99, 213, 144, 0.25);
    --g-color-line-brand: #63D590;
    --g-color-base-brand-hover: #63D590;                                                                                                     
    --g-color-base-selection: rgba(34, 197, 94, 0.15);                                                                                       
    --g-color-base-selection-hover: rgba(34, 197, 94, 0.25);
    --g-color-text-brand: #63D590;                                                                                                           
    --g-color-text-brand-heavy: #63D590;  
}
