$color: #63d590;

:root .g-root_theme_dark,
:root .g-root_theme_light {
    --g-color-base-brand: #{$color};
    --g-color-base-brand-hover: #4eec7a;
    --g-color-base-selection: rgba(99, 213, 144, 0.15);
    --g-color-base-selection-hover: rgba(99, 213, 144, 0.25);
    --g-color-line-brand: #{$color};
    --g-color-text-brand: #{$color};
    --g-color-text-brand-heavy: #{$color};
    --g-color-text-link: #{$color};
    --g-color-text-link-hover: #4eec7a;
    --g-color-text-link-visited: #{$color};
    --g-color-text-link-visited-hover: #4eec7a;
    --g-color-button: #fff;

    --g-color-base-background: var(--vscode-editor-background);
    --g-color-base-float: var(--vscode-editorWidget-background, var(--vscode-editor-background));
    --g-color-base-float-heavy: var(
        --vscode-editorWidget-background,
        var(--vscode-editor-background)
    );
    --g-color-text-primary: var(--vscode-editor-foreground);
    --g-color-text-secondary: var(--vscode-descriptionForeground, var(--vscode-editor-foreground));
    --g-color-line-generic: var(--vscode-widget-border, var(--vscode-editorWidget-border));
    --g-color-line-generic-solid: var(--vscode-widget-border, var(--vscode-editorWidget-border));

    .g-md-wysiwyg-editor__toolbar {
        padding: 0 12px 12px 8px;
    }
}
